.about {
    flex: 1 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    gap: 1rem;
    justify-content: center;
}

.about .imgAbout{
    max-width: 600px;
    max-height: 900px;
}

.about .imgAbout img{
    border-radius: 20px;
}
.about p{
    font-size: 1rem;
    color: #fff;
    text-align: justify;
    word-spacing: 2.5px;
    line-height: 25px;
}




@media(min-width: 1190px) {
    .about {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }
}

