.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.footer .footerRedes {
  text-align: center;
  font-size: 2rem;
}

.footer .footerRedes a {
  color: #fff;
  margin: 5px;
}

.footer .footerRedes a svg {
  font-size: 2rem;
}

.footer .footerTextos {
  text-align: center;
  font-size: 1rem;
}

.footer .footerTextos p {
  color: #fff;
}

.footerRedes a:hover,
.footerTextos i:hover {
  color: var(--secondary-color);
}
