/*FOOTER
===========================================================================================================================================*/
.footer{
    height: 300px;
}

/*FOOTER REDES
===========================================================================================================================================*/
.footer .footerRedes{
    position: relative;
    top: 135px;
    text-align: center;
    font-size: 2rem;
}

.footer .footerRedes a{
    color: #fff;
    margin: 5px;
}

.footer .footerRedes a svg{
    font-size: 2rem;
}

/*FOOTER TEXTOS
===========================================================================================================================================*/
.footer .footerTextos{
    position: relative;
    top: 160px;
    text-align: center;
    font-size: 1rem;
}

.footer .footerTextos p{
    color: #fff;
}

.footerRedes a:hover,
.footerTextos i:hover{
  color: var(--secondary-color);
}
 

