.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
  gap: 6rem;
  align-content: center;
  margin-top: 80px;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: #fff;
  font-size: 1rem;
  word-spacing: 2.5px;
  line-height: 25px;
}

.about div {
  margin-bottom: 45px;
}

.about div:not(:first-child) {
  margin-bottom: 0;
  max-width: 42rem;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #242323;
}

.photo {
  display: flex;
  margin-bottom: 35px;
}

.photos .photo:last-child {
  margin-bottom: 0;
}

.photo img {
  max-width: 200px;
  margin-right: 35px;
  border-radius: 5px;
}

.photo img:last-child {
  margin-right: 0;
}

.contentLinkProject {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.contentLinkProject a:first-child {
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.contentLinkProject a:hover {
  background: var(--primary-color);
}

.contentLinkProject a div:last-child {
  margin-left: 10px;
  color: #fff;
}

#divider {
  margin: 30px 0;
  border-bottom: 1px solid #242323;
  width: 50%;
}

.technologies {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.technologies img {
  max-width: 5rem;
  max-height: 5rem;
}

@media (max-width: 1550px) {
  .content {
    grid-template-columns: 1fr;
  }
  .photos {
    padding: 50px 0 0 0;
    border-left: 0;
    border-top: 1px solid #242323;
    margin: 0 110px;
  }
}

@media (max-width: 725px) {
  .photo {
    flex-direction: column;
  }
  .photo img {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .photos {
    margin: 0 50px;
  }
  .photo img:last-child {
    margin-bottom: 0;
  }
  .about div:last-child {
    padding: 0 20px;
  }
  .about div:first-child {
    max-width: 40%;
  }
}
