.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
  gap: 6rem;
  align-content: center;
  margin-top: 80px;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: #fff;
  font-size: 1rem;
  word-spacing: 2.5px;
  line-height: 25px;
}

.about div {
  margin-bottom: 45px;
}

.about div:last-child {
  margin-bottom: 0;
  max-width: 42rem;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #242323;
}

.photo {
  display: flex;
  margin-bottom: 35px;
}

.photos .photo:last-child {
  margin-bottom: 0;
}

.photo img {
  max-width: 200px;
  margin-right: 35px;
  border-radius: 5px;
}

.photo img:last-child {
  margin-right: 0;
}

@media (max-width: 1550px) {
  .content {
    grid-template-columns: 1fr;
  }
  .photos {
    padding: 50px 0 0 0;
    border-left: 0;
    border-top: 1px solid #242323;
  }
}

@media (max-width: 725px) {
  .photo {
    flex-direction: column;
  }
  .photo img {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .photo img:last-child {
    margin-bottom: 0;
  }
  .about div:last-child {
    padding: 0 20px;
  }
  .about div:first-child {
    max-width: 40%;
  }
}
