.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
  gap: 6rem;
  align-content: center;
  margin-top: 80px;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: #fff;
  font-size: 1rem;
  word-spacing: 2.5px;
  line-height: 25px;
}

.about i:hover {
  color: #fff;
}

.about div {
  margin-bottom: 45px;
}

.about h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
}

.about div:not(:first-child) {
  margin-bottom: 0;
  max-width: 42rem;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #242323;
}

.photo {
  display: flex;
  margin-bottom: 35px;
}

.photos .photo:last-child {
  margin-bottom: 0;
}

.photo img {
  max-width: 260px;
  margin-right: 35px;
  border-radius: 5px;
}

.photo img:last-child {
  margin-right: 0;
}

.contentLinkProjectPlayStore {
  text-align: center;
  margin-top: 5rem;
}

.contentLinkProjectPlayStore img {
  max-width: 15rem;
}

.contentLinkProject {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.contentLinkProject a:first-child {
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.contentLinkProject a:hover {
  /* background: var(--primary-color); */
  background: rgba(242, 116, 5, 0.7);
}

.contentLinkProject a div:last-child {
  margin-left: 10px;
  color: #fff;
}

#divider {
  margin: 70px 0 40px 0;
  border-bottom: 1px solid #242323;
  width: 50%;
}

.technologies {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.technologies img {
  max-width: 5rem;
  max-height: 5rem;
}

.technologies .techProject {
  width: 5rem;
  height: 5rem;
}

/* Modal start */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100vw;
  max-height: 80vh;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modalContent,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 85px;
  right: 35px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modalContent {
    width: 100%;
  }
}

.modalActive {
  display: block;
}

@media (max-width: 1550px) {
  .content {
    grid-template-columns: 1fr;
  }
  .photos {
    padding: 50px 0 0 0;
    border-left: 0;
    border-top: 1px solid #242323;
    /* margin: 0 110px; */
  }
}

@media (max-width: 725px) {
  .photo {
    flex-direction: column;
  }
  .photo img {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .photos {
    margin: 0 50px;
  }
  .photo img:last-child {
    margin-bottom: 0;
  }
  .about div:last-child {
    padding: 0 20px;
  }
  .about div:first-child {
    max-width: 60%;
  }
  .about div:not(last-child) {
    max-width: 40%;
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .technologies img {
    max-width: 3rem;
    max-height: 3rem;
  }

  .technologies .techProject {
    width: rem;
    height: 3rem;
  }

  .close {
    right: 5px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
  }
}
